.services__container{
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    column-gap: 1.8rem;
}

.services__content{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
    cursor: pointer;
}

.services__content:hover{
    box-shadow: var(--text-color);
}